.loaderContainer {
  height: -webkit-calc(100vh - 300px);
  height: -moz-calc(100vh - 300px);
  height: calc(100vh - 300px);
  display: grid;
  place-items: center;
}

.loaderInner {
  position: relative;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}

.loaderContainer .loaderInner > .circle:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  -moz-animation-delay: -0.2s;
  -o-animation-delay: -0.2s;
  animation-delay: -0.2s;
  border-color: #ff78c9;
}

.loaderContainer .loaderInner > .circle:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  -moz-animation-delay: -0.4s;
  -o-animation-delay: -0.4s;
  animation-delay: -0.4s;
  border-color: #ba6fde;
}

.loaderContainer .loaderInner > .circle:nth-child(1) {
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
  -o-animation-delay: -0.6s;
  animation-delay: -0.6s;
  border-color: #9b7dd9;
}

.loaderContainer .loaderInner > .circle {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: -2px;
  left: -50px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #9B7DD9;
  -webkit-animation: loader 2s 0s infinite cubic-bezier(.21,.53,.56,.8);
  -moz-animation: loader 2s 0s infinite cubic-bezier(.21,.53,.56,.8);
  -o-animation: loader 2s 0s infinite cubic-bezier(.21,.53,.56,.8);
  animation: loader 2s 0s infinite cubic-bezier(.21,.53,.56,.8);
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes loader {
  0% {
    -moz-transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -moz-transform: scale(1);
    opacity: 0.7;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@-o-keyframes loader {
  0% {
    -o-transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -o-transform: scale(1);
    opacity: 0.7;
  }
  100% {
    -o-transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}